.component {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    font-size: 16px;
    font-variant-ligatures: common-ligatures;
    background-color: #e5e5e5;
    padding: 8px;
}

.editor {
    overflow: auto !important;
    height: 30vh;
}

.textarea {
    outline: none;
}
